{% extends 'mailing/base.html' %}
{% load my_tags %}

{% block content %}
<div class="col-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
        </div>

        <div class="card-body">

            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                {% for client in  clients %}
                <p>{{ client.email }}<p>
                {% endfor %}
            </ul>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Первая отправка: {{object.first_sent_date_time}}</li>
                <li>Следующая отправка: {{object.next_sent_date_time}}</li>
                <li>Последняя отправка: {{object.last_sent_date_time}}</li>
            </ul>

            <ul class="list-unstyled mt-3 mb-4 text-start m-3">

                <li>{{ object.message|slice:100 }}</li>
                <li>{{ object.status }}</li>
            </ul>
            <a class="btn btn-primary" href="">Запустить</a>
            <a class="btn btn-primary" href="{% url 'mailing:dispatch_update' dispatch.pk %}" role="button">Редактировать</a>
            <a class="btn btn-primary" href="{% url 'mailing:dispatch_list'%}" role="button">Назад</a>
        </div>
    </div>
</div>
{% endblock %}