{% extends 'mailing/base.html' %}
{% load my_tags %}

{% block content %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
        </div>



        <div class="card-body">

            <h5 class="my-0 font-weight-normal">
                {% for client in  clients %}
                <p>{{ client.email }}<p>
                {% endfor %}
            </h5>

            <ul class="list-unstyled mt-3 mb-4 text-start m-3">

                <li>{{ object.message|slice:100 }}</li>
            </ul>
            <a class="btn btn-primary" href="{% url 'mailing:dispatch_list'%}" role="button">Назад</a>
        </div>
    </div>
</div>
{% endblock %}